In [1]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from xgboost.sklearn import XGBRegressor
from xgboost import plot_importance
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("../data/vehiclemonitorinfo.csv")
class_le = LabelEncoder()
data = df[["vehicleType","vehicleSpeed","vehicleCoor1","vehicleCoor2","conflictX","conflictY","recordTime"]]
data['vehicleType'] = class_le.fit_transform(data['vehicleType'])

C:\Users\12819\AppData\Local\Temp\ipykernel_14208\449289072.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['vehicleType'] = class_le.fit_transform(data['vehicleType'])

In [6]:
data

,vehicleType,vehicleSpeed,vehicleCoor1,vehicleCoor2,conflictX,conflictY,recordTime
0,0,0.00,2199.89,2984.18,2104.85,2864.57,50.00
1,0,1.30,2199.14,2983.24,2104.85,2864.57,45.00
2,0,2.96,2197.44,2981.10,2104.85,2864.57,41.00
3,0,4.93,2194.61,2977.54,2104.85,2864.57,38.00
4,0,6.84,2190.68,2972.60,2104.85,2864.57,35.00
...,...,...,...,...,...,...,...
163,1,12.26,1224.60,1747.54,1196.23,1711.79,267.33
164,1,11.92,1216.10,1736.83,1196.23,1711.79,264.67
165,1,12.07,1205.36,1723.29,1196.23,1711.79,262.00
166,1,12.01,1200.77,1717.51,1196.23,1711.79,259.33
167,1,11.88,1196.23,1711.79,1196.23,1711.79,256.67

In [7]:
X = data[["vehicleType","vehicleSpeed","vehicleCoor1","vehicleCoor2","conflictX","conflictY"]].values
y = data[["recordTime"]].values

In [8]:
X

array([['clean', 0.0, 2199.89, 2984.18, 2104.85, 2864.57],
       ['clean', 1.3, 2199.14, 2983.24, 2104.85, 2864.57],
       ['clean', 2.96, 2197.44, 2981.1, 2104.85, 2864.57],
       ...,
       ['oil', 12.07, 1205.36, 1723.29, 1196.23, 1711.79],
       ['oil', 12.01, 1200.77, 1717.51, 1196.23, 1711.79],
       ['oil', 11.88, 1196.23, 1711.79, 1196.23, 1711.79]], dtype=object)

In [ ]:
from sklearn.metrics import mean_squared_error

x_train, x_test, y_train, y_test = train_test_split(X, y,
                                                        test_size=0.2,
                                                        random_state=0)
    xgb_model = XGBRegressor()
    xgb_model.fit(x_train, y_train)
    y_pred = xgb_model.predict(x_test)
    print('MSE为：', mean_squared_error(y_test.reshape(1,-1), y_pred))